
<%- include('../partial/header.ejs')%>
<main>
  <h3><%= event.title%></h3>
   <div class="container">
        <div class="image">
          
       <img src="<%= event.image%>" height="200" width="200">
            </div>
            <div class="text">
              <p><strong>Author:</strong> <%= event.hostName.firstName + ' '+ event.hostName.lastName%></p><br>
              <p><strong>Date and Time:</strong> <%= event.startDateTime%> - <%= event.endDateTime%></p><br>
              <p><strong>Location:</strong> <%= event.location%></p><br>
             <p><strong>Details</strong> <%= event.details%> </p>
            </div>
            </div>  
  
</main>
<%- include('../partial/footersearch.ejs')%>
<%- include('../partial/footer.ejs')%>